.bash_history
.bash_logout
.bash_profile
.bashrc_20170130
.inputrc
.netrc
.nyagos.20160906
.profile
.viminfo
.wgetrc
F_script*
.config/
.matplotlib/
.ssh/

bin/
script/
doc/
python/

msys64_usr.txt
sysbin
usr.txt
