.bash_history
.bash_logout
.bash_profile
.bashrc_20170130
.config/
.inputrc
.matplotlib/
.netrc
.nyagos.20160906
.profile
.ssh/
.viminfo
.wgetrc
F_script/
bin/.config/
bin/.viminfo
bin/.wget-hsts
msys64_usr.txt
script/
sysbin
usr.txt
